<!doctype html>
<html ng-app="todoApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  </head>
  <body>
    <div ng-controller="toDoController">

      <h1>Things to do</h1>

        <ul ng-repeat="task in tasks">

          <p><input type="checkbox" ng-model="checked()">{{task.text}}</p>

        </ul>

      <form>
          <input type="text" ng-model="taskText" placeholder="Enter Task" required />
          <input type="submit" ng-click="addTask()" value="Enter" />
      </form>

      <h2>Completed Tasks</h2>

      <ul ng-repeat="completed in completedTasks">
          <p style="text-decoration: line-through;"><input type="checkbox" checked>{{completed.text}}</p>
      </ul>

    </div>

    <script src="main.js"></script>
  </body>
</html>
